@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    list-style-type: none;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,button,input,p,blockquote,th,td {
    margin: 0;
    padding: 0
}

fieldset,img {
    border: 0
}

img,object,embed {
    display: block;
    overflow: clip;
    max-width: 100%;
    object-fit: cover;
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: normal
}

ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}


a {
    text-decoration: none;
}


div {
    box-sizing: border-box;
}


body {
    background-color: var(--ivory-color);
}